.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-md) calc(var(--space-lg) + 3px);
  color: #fff;
  background: transparent;
  overflow: hidden;
  isolation: isolate;
  z-index: 10;
}

.header::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  transition: top 0.3s ease;
  z-index: 0;
}

.header:hover::before {
  top: 0;
}

.header * {
  position: relative;
  z-index: 1;
}

.header_title {
  font-family: var(--font-main);
  color: var(--color-bg);
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  font-family: var(--font-main);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 20px;
  font-family: var(--font-main);
}

.header_hat {
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  border-bottom: 1px rgba(255, 255, 255, 0.35) solid;
}

.header_hat-text {
  color: #fff;
  padding: var(--space-sm);
  margin: 0;
}

.header_hat-span {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

ion-icon {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

ion-icon:hover {
  transform: scale(1.1);
  color: var(--color-accent);
}
