.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 35px;
  color: white;
  background: transparent;
  overflow: hidden;
  isolation: isolate;
  z-index: 10;
}

.header::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: top 0.3s ease;
  z-index: 0;
}

.header:hover::before {
  top: 0;
}

.header * {
  position: relative;
  z-index: 1;
}

.header_title {
  font-family: 'space-grotesk-variable, sans-serif';
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: 'space-grotesk-variable, sans-serif';
}

.header_hat {
  background-color: black;
  display: flex;
  justify-content: center;
  border-bottom: 1px white solid;
}

.header_hat-text {
  color: white;
  padding: 10px;
  margin: 0;
}

.header_hat-span {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

ion-icon {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

ion-icon:hover {
  transform: scale(1.1);
  color: #f5c16c;
}
