:root {
  /* Colors */
  --color-bg: #ffffff;
  --color-primary: #000000;
  --color-accent: #f5c16c;
  --color-text: #111111;
  --color-muted: #777777;

  /* Margin */
  margin: 0;

  /* Shadows */
  --shadow-soft: -6px 10px 20px rgba(0, 0, 0, 0.18);
  --shadow-medium: -8px 12px 25px rgba(0, 0, 0, 0.25);
  --shadow-strong: -12px 18px 35px rgba(0, 0, 0, 0.3);

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;

  /* Fonts */
  --font-main: 'space-grotesk-variable', sans-serif;
}
