/* Home page */

.home__img {
  width: 100%;
  height: auto;
}

.home_showoff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: calc(var(--space-lg) + var(--space-md));
  gap: calc(var(--space-lg) + var(--space-sm));
}
